<%= form_for(@self_evaluation) do |f| %>
  <% if @self_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@self_evaluation.errors.count, "error") %> prohibited this self_evaluation from being saved:</h2>

      <ul>
      <% @self_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :mood_rating %><br>
    <%= f.text_field :mood_rating %>
  </div>
  <div class="field">
    <%= f.label :energy_rating %><br>
    <%= f.text_field :energy_rating %>
  </div>
  <div class="field">
    <%= f.label :drink %><br>
    <label class="radio-inline" for="self_evaluation_drink">
      <input type="radio" name="self_evaluation[drink]" id="self_evaluation_drink" value="1"> Yes
      </label>
      <label class="radio-inline">
      <input type="radio" name="self_evaluation[drink]" id="self_evaluation_drink" value="0"> No
    </label>
  </div>
  <div class="field">
    <%= f.label :smoke %><br>
    <label class="radio-inline" for="self_evaluation_smoke">
      <input type="radio" name="self_evaluation[smoke]" id="self_evaluation_smoke" value="1"> Yes
      </label>
      <label class="radio-inline">
      <input type="radio" name="self_evaluation[smoke]" id="self_evaluation_smoke" value="0"> No
    </label>
  </div>
  <div class="field">
    <%= f.label :worked_out %><br>
    <label class="radio-inline" for="self_evaluation_worked_out">
      <input type="radio" name="self_evaluation[worked_out]" id="self_evaluation_worked_out" value="1"> Yes
      </label>
      <label class="radio-inline">
      <input type="radio" name="self_evaluation[worked_out]" id="self_evaluation_worked_out" value="0"> No
    </label>
  </div>
  <div class="field">
    <%= f.label :meds %><br>
    <label class="radio-inline" for="self_evaluation_meds">
      <input type="radio" name="self_evaluation[meds]" id="self_evaluation_meds" value="1"> Yes
      </label>
      <label class="radio-inline">
      <input type="radio" name="self_evaluation[meds]" id="self_evaluation_meds" value="0"> No
    </label>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :hours_slept %><br>
    <%= f.text_field :hours_slept %>
  </div>
  <div class="field">
    <%= f.label :breakfast %><br>
    <%= f.text_area :breakfast %>
  </div>
  <div class="field">
    <%= f.label :lunch %><br>
    <%= f.text_area :lunch %>
  </div>
  <div class="field">
    <%= f.label :dinner %><br>
    <%= f.text_area :dinner %>
  </div>
  <div class="field">
    <%= f.label :snacks_text %><br>
    <%= f.text_field :snacks_text %>
  </div>
  <div class="field">
    <%= f.label :exercise %><br>
    <%= f.text_area :exercise %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
